@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,100;0,700;1,300&family=Roboto:ital,wght@0,500;1,100;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Merriweather", "Roboto", sans-serif;
  font-size: medium;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main {
  padding: 0 5rem;
}
